/* Header */
section {
    margin-left: 3em;
    margin-right: 3em;
    position: relative;
    height: auto;
    min-height: calc(100vh - 80px);
}

#header {
    overflow: hidden;
    position: relative;
    height: 8em;
}

/* Logo */

#logo {
    position: absolute;
    top: 3em;
    left: 3em;
}

#logo h1 {
    padding: 0em 0.25em 0em 0em;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.50em;
    font-weight: 800;
    color: #FFF;
}

/* User */
#user {
    position: absolute;
    right: 3em;
    top: 3em;
}

#user a {

    background: #2B8FC4;
    padding: 0.7em;
    border-radius: 0.1em;
    box-shadow: inset 0px -15px 10px 0px rgba(0, 0, 0, 0.10);
    text-shadow: none;
    text-decoration: none;
    font-size: 1em;
    color: #FFFFFF;
}

#user a:hover {
    background-color: #167cb2;
}

.hide {
    visibility: hidden;
}

/* Footer */
footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/

    left: 0;
    bottom: 0;
    width: 100%;
    /*height: 80px;*/
    overflow: hidden;
    border-top: 1px solid #212124;
    margin-top: auto;
    display: inline-block;
}

#copyright
{
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.08);
    align-content: flex-start;
}

#copyright p
{
    letter-spacing: 0.20em;
    text-align: left;
    text-transform: uppercase;
    font-size: 0.80em;
    color: rgba(255,255,255,0.3);
}

#locale{
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255,0.08);
    align-content: flex-end;
}

#locale a
{
    letter-spacing: 0.20em;
    text-align: right;
    text-transform: uppercase;
    font-size: 1em;
    color: rgba(255,255,255,0.3);
    text-decoration: none;

}